{
  "openapi": "3.0.0",
  "info": {
    "title": "Nutrison Appointment Platform API",
    "version": "1.0.0",
    "description": "API documentation for the Nutrison Appointment Platform"
  },
  "servers": [
    {
      "url": "https://api.nutrison.sa/v1",
      "description": "Production API"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Development API"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and authorization endpoints"
    },
    {
      "name": "Appointments",
      "description": "Appointment booking and management endpoints"
    },
    {
      "name": "Availability",
      "description": "Dietitian availability management endpoints"
    },
    {
      "name": "Payments",
      "description": "Payment processing endpoints"
    },
    {
      "name": "Chat",
      "description": "Real-time messaging endpoints"
    },
    {
      "name": "Admin",
      "description": "Administrative dashboard endpoints"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Register a new user",
        "requestBody": {
          "required": true",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Login user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Get current user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/appointments": {
      "get": {
        "tags": ["Appointments"],
        "summary": "List appointments",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": ["SCHEDULED", "CONFIRMED", "COMPLETED", "CANCELLED"]
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of appointments"
          }
        }
      },
      "post": {
        "tags": ["Appointments"],
        "summary": "Create appointment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppointmentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Appointment created"
          }
        }
      }
    },
    "/appointments/{id}": {
      "get": {
        "tags": ["Appointments"],
        "summary": "Get appointment details",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment details"
          },
          "404": {
            "description": "Appointment not found"
          }
        }
      },
      "patch": {
        "tags": ["Appointments"],
        "summary": "Update appointment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppointmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Appointment updated"
          }
        }
      },
      "delete": {
        "tags": ["Appointments"],
        "summary": "Cancel appointment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment cancelled"
          }
        }
      }
    },
    "/availability": {
      "get": {
        "tags": ["Availability"],
        "summary": "Get dietitian availability",
        "parameters": [
          {
            "in": "query",
            "name": "dietitianId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability slots"
          }
        }
      },
      "post": {
        "tags": ["Availability"],
        "summary": "Create availability slot",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAvailabilityRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Availability slot created"
          }
        }
      }
    },
    "/payments": {
      "post": {
        "tags": ["Payments"],
        "summary": "Create payment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment created"
          }
        }
      }
    },
    "/payments/webhook": {
      "post": {
        "tags": ["Payments"],
        "summary": "Payment webhook endpoint",
        "responses": {
          "200": {
            "description": "Webhook processed"
          }
        }
      }
    },
    "/chat/messages": {
      "get": {
        "tags": ["Chat"],
        "summary": "Get chat messages",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "conversationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "in": "query",
            "name": "before",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chat messages"
          }
        }
      },
      "post": {
        "tags": ["Chat"],
        "summary": "Send chat message",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent"
          }
        }
      }
    },
    "/admin/analytics": {
      "get": {
        "tags": ["Admin"],
        "summary": "Get platform analytics",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Platform analytics"
          }
        }
      }
    },
    "/admin/health": {
      "get": {
        "tags": ["Admin"],
        "summary": "Get platform health status",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Platform health status"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RegisterRequest": {
        "type": "object",
        "required": ["email", "password", "firstName", "lastName", "role"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["PATIENT", "DIETITIAN", "ADMIN"]
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["PATIENT", "DIETITIAN", "ADMIN"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateAppointmentRequest": {
        "type": "object",
        "required": ["dietitianId", "startTime", "duration"],
        "properties": {
          "dietitianId": {
            "type": "string"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "UpdateAppointmentRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["SCHEDULED", "CONFIRMED", "COMPLETED", "CANCELLED"]
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "CreateAvailabilityRequest": {
        "type": "object",
        "required": ["dayOfWeek", "startTime", "endTime"],
        "properties": {
          "dayOfWeek": {
            "type": "integer",
            "minimum": 0,
            "maximum": 6
          },
          "startTime": {
            "type": "string",
            "format": "time"
          },
          "endTime": {
            "type": "string",
            "format": "time"
          }
        }
      },
      "CreatePaymentRequest": {
        "type": "object",
        "required": ["appointmentId", "amount"],
        "properties": {
          "appointmentId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "paymentMethod": {
            "type": "string",
            "enum": ["MADA", "CARD", "APPLE_PAY"]
          }
        }
      },
      "SendMessageRequest": {
        "type": "object",
        "required": ["recipientId", "content"],
        "properties": {
          "recipientId": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "adminAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Admin-Key"
      }
    }
  }
}
